In [ ]:
#Gohel Sajana d.
#Write a Pandas program to implement following operation to create a dataframe from a dictionary and display it

# Importing the pandas library
import pandas as pd

# Sample dictionary
data = {
    'Name': ['John', 'Jane', 'Tom', 'Alice'],
    'Age': [28, 24, 22, 30],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']
}

# Convert the dictionary into a DataFrame
df = pd.DataFrame(data)

# Display the DataFrame
print(df)

In [ ]:
#Gohel Sajana d.
#Write a Pandas program to implement following operationto sort the DataFrame first by 'name' in ascending order

# Importing the pandas library
import pandas as pd

# Sample DataFrame
data = {
    'name': ['John', 'Jane', 'Tom', 'Alice'],
    'age': [28, 24, 22, 30],
    'city': ['New York', 'Los Angeles', 'Chicago', 'Houston']
}

df = pd.DataFrame(data)

# Sort the DataFrame by 'name' in ascending order
sorted_df = df.sort_values(by='name')

# Display the sorted DataFrame
print(sorted_df)

In [ ]:
#Gohel Sajana d.
#Write a Pandas program to implement following operation to delete the one specific column from the DataFrame

# Importing the pandas library
import pandas as pd

# Sample DataFrame
data = {
    'name': ['John', 'Jane', 'Tom', 'Alice'],
    'age': [28, 24, 22, 30],
    'city': ['New York', 'Los Angeles', 'Chicago', 'Houston']
}

df = pd.DataFrame(data)

# Delete the 'age' column from the DataFrame
df.drop('age', axis=1, inplace=True)

# Display the updated DataFrame
print(df)

In [ ]:
#Gohel Sajana d.
#Write a Pandas program to implement following operation to write a DataFrame to CSV file using tab separator

# Importing the pandas library
import pandas as pd

# Sample DataFrame
data = {
    'name': ['Sanjana', 'Seemran', 'Khushboo', 'Binta'],
    'age': [28, 24, 22, 30],
    'city': ['New York', 'Los Angeles', 'Chicago', 'Houston']
}

df = pd.DataFrame(data)

# Write the DataFrame to a CSV file with a tab separator
df.to_csv('output_file.csv', sep='\t', index=False)